
body {
    background-color: grey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 30px;
}
h1{
    font-size: 80px;
    display: flex;
    justify-content: center;
}
#currentNum {
    font-size: 150px;
    font-family: 'Abril Fatface', serif;
    display: flex;
    justify-content: center;
    transition-duration: .53s;
}
#button-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    

}
button {
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
    margin: 50px;
    transition-duration: .63s;

}
button:hover {
    background-color: black;
    color: white;
    transition-duration: .63s;
}